/* Line de colores */
#div{
	    width: 100%;
	    font-size: 5px; font-weight:bold; text-align:center;
	    padding-top: 5px; word-wrap:break-word;
	}

  #img {
    
    width: 150px;
    height: 150px;
    border-radius: 50%;

  }

  #imgs {
    
   position: relative;
   top: 50px;
   left: 50%;
   margin-top: -75px;
   margin-left: -73px;
  }

  #saludo {
    background-color: #ffffff;
    font-size: 22px;
    font-family: 'Roboto Light';
    color: #3690E6;
   
    
    text-align: center;
  }

  #monto {
    background-color: #77C32A;
    font-size: 22px;
    font-family: 'Roboto Light';
    color: #ffffff;
    height: 200px;
    overflow: hidden;
    text-align: center;
  }

  #hola{
    margin-top: 40px;
  }

  #actual {
    margin-top: 70px;
  }

  .tabla h4 {
    text-align: center;
    position: absolute;
    left: 20px;
  }

  #pagos {
    color: #54358B;
    font-weight: 600;
  }

  #recargas {
    color: #77C32A;
    font-weight: 600;
  }

  #transacciones {
    color: #3690E6;
    font-weight: 600;
  }

 @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }