/*Body fondo.*/

	body {
		background-image: url("../img/fondo.png");
		background-position: center center;
		background-repeat: no-repeat;
		background-attachment; fixed;
		background-size: cover;
	}
	/*Logo practisis cash.*/
	img{
		width: 190px;
		height: 190px;
		margin: 50px auto;
		display: block;
	}
	/*texto principal.*/
	 #titulo{
		font-size: 17px;
		color: white;
		text-align: center;
	}
	/*Input menu principal*/
	input[type=text]{
		height: 50px;
		width: 100%;
		font-size: 17px;
		margin: 15px auto;
		border: 15px;
		border-radius: 15px;
	}
	/*Boton menu principal*/
	button[type=submit] {
		width: 100%;
		height: 50px;
		font-size: 17px;
		margin: 10px auto;
		border: 25px ;
		border-radius: 25px;
		background-color: #0174DF;
		color: white;
	}
	.error{
		color: white;
	}
    
	
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .row.content {height:auto;} 
    }